@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


.A{
    /* background: url('Login1.jpg '); */
    /* height: 400px; */
    display: flex;
    justify-content: center;
    backdrop-filter: brightness(80%);
    background-size: cover;
    background-position: center;
    content: '';
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) to change the opacity */
    z-index: 1; /* Ensure the overlay appears behind other content */
    animation: fadeInUp 2s ease;


}

.login {
    border: 1px solid black;
    width: 90%; /* Use percentage for responsiveness */
    max-width: 400px; /* Set maximum width */
    height: 450px; /* Adjust height automatically */
    background: url('login22.jpg');
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 25px auto; /* Center horizontally */
    animation: fadeInRight 2s ease


}

form {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    font-family: "Pacifico", cursive;

    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px; /* Adjust margin for smaller screens */
}

h2 {
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px; /* Adjust margin for smaller screens */
}

label {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px; /* Adjust letter spacing for smaller screens */
    padding-left: 5px; /* Adjust padding for smaller screens */
}

input {
    background: rgba(255, 255, 255, 0.5);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 15px; /* Adjust margin for smaller screens */
    color: white;
}

button {
    background: rgba(45, 126, 231);
    border: 1px solid rgb(190, 12, 12);
    padding: 10px 20px; /* Add padding for better touch experience on mobile */
    margin-top: 15px; /* Adjust margin for smaller screens */
}

@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}