@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.fix {
  position: relative;
}

b {
  font-family: "Pacifico", cursive;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-right: auto;
}
.logo img{
  height: 40px;
  width: 250px;
  }
/* Navbar */
.navbar {
  background-color: #4B0082;
  /* background-color: #293991; */
  padding: 10px;
}

.navbar_link_holder {
  display: flex;
  justify-content: center;
}

.navbar_link_holder a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .logo {
    margin-right: 0;
    text-align: center;
  }

  .navbar_link_holder {
    flex-wrap: wrap;
    justify-content: center; /* Align items to the center */
  }

  .navbar_link_holder a {
    flex: 1 0 50%; /* Each link takes 50% of the width */
    text-align: center;
  }
}
